# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emory/

# Generated .csproj / .sln files
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Version control
.plastic/
ignore.conf
